<font size="20">IPL 2024 PREDICTIONS üèèüèÜ

In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### Overview of the Dataset:

- The dataset comprises two distinct CSV files: "matches" and "deliveries." These files encompass the summary of each match and detailed information regarding each ball bowled, respectively.

- The dataset is updated up to the IPL season of 2023.

- [IPL Complete Dataset (2008-2023)](https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020/data)

<font size="5">Loading First Dataset <font size="3">(https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020/data?select=deliveries.csv)

In [2]:
first_dataset = pd.read_csv("C:/Users/Loki/Documents/IPL 2024 Predictions/deliveries.csv")
first_dataset

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243813,1370353,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
243814,1370353,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243815,1370353,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
243816,1370353,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

<font size="5">Loading Second Dataset <font size="3">(https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020/data?select=matches.csv)

In [3]:
second_dataset = pd.read_csv("C:/Users/Loki/Documents/IPL 2024 Predictions/matches.csv")
second_dataset

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1359544,2023,Bengaluru,2023-05-21,League,Shubman Gill,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,wickets,6.0,198.0,20.0,N,NaN,Nitin Menon,VK Sharma
1020,1370350,2023,Chennai,2023-05-23,Qualifier 1,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,Chennai Super Kings,runs,15.0,173.0,20.0,N,NaN,AK Chaudhary,CB Gaffaney
1021,1370351,2023,Chennai,2023-05-24,Eliminator,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,Mumbai Indians,runs,81.0,183.0,20.0,N,NaN,BNJ Oxenford,VK Sharma
1022,1370352,2023,Ahmedabad,2023-05-26,Qualifier 2,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Mumbai Indians,Mumbai Indians,field,Gujarat Titans,runs,62.0,234.0,20.0,N,NaN,Nitin Menon,RJ Tucker
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker

<font size="5">Data Cleaning

In [4]:
#Finding Total Runs Scored in each innings
total_runs = first_dataset.groupby(['match_id','inning']).sum()['total_runs'].add(1).reset_index()
total_runs.head(10)

   match_id  inning  total_runs
0    335982       1         223
1    335982       2          83
2    335983       1         241
3    335983       2         208
4    335984       1         130
5    335984       2         133
6    335985       1         166
7    335985       2         167
8    335986       1         111
9    335986       2         113

In [5]:
#selecting only first innings to find target score for each match
total_runs = total_runs[total_runs['inning'] == 1]
total_runs

      match_id  inning  total_runs
0       335982       1         223
2       335983       1         241
4       335984       1         130
6       335985       1         166
8       335986       1         111
...        ...     ...         ...
2065   1359544       1         198
2067   1370350       1         173
2069   1370351       1         183
2071   1370352       1         234
2073   1370353       1         215

[1024 rows x 3 columns]

In [6]:
#merging total runs df with second dataset
match_df = second_dataset.merge(total_runs[['match_id','total_runs']],left_on='id',right_on='match_id')

In [7]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1359544,2023,Bengaluru,2023-05-21,League,Shubman Gill,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,...,wickets,6.0,198.0,20.0,N,NaN,Nitin Menon,VK Sharma,1359544,198
1020,1370350,2023,Chennai,2023-05-23,Qualifier 1,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Gujarat Titans,Gujarat Titans,...,runs,15.0,173.0,20.0,N,NaN,AK Chaudhary,CB Gaffaney,1370350,173
1021,1370351,2023,Chennai,2023-05-24,Eliminator,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",Mumbai Indians,Lucknow Super Giants,Mumbai Indians,...,runs,81.0,183.0,20.0,N,NaN,BNJ Oxenford,VK Sharma,1370351,183
1022,1370352,2023,Ahmedabad,2023-05-26,Qualifier 2,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Mumbai Indians,Mumbai Indians,...,runs,62.0,234.0,20.0,N,NaN,Nitin Menon,RJ Tucker,1370352,234
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,...,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,1370353,215

In [8]:
match_df = match_df[['match_id','city','winner','total_runs']]

In [9]:
match_df = match_df.rename(columns={'id':'match_id'})

In [10]:
second_innings = match_df.merge(first_dataset,on='match_id')
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,223,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,0,1,NaN,0,NaN,NaN,NaN
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,0,6,NaN,0,NaN,NaN,NaN
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,0,4,NaN,0,NaN,NaN,NaN

In [11]:
second_innings = second_innings[second_innings['inning']==2]
second_innings.shape

(117531, 20)

Data Cleaning (removing old and repeating teams)

In [12]:
second_innings['batting_team'].value_counts()

batting_team
Kolkata Knight Riders          14310
Mumbai Indians                 13680
Royal Challengers Bangalore    13426
Rajasthan Royals               12290
Chennai Super Kings            11838
Kings XI Punjab                10753
Delhi Daredevils               10027
Sunrisers Hyderabad             9518
Delhi Capitals                  5061
Deccan Chargers                 3754
Pune Warriors                   2995
Gujarat Titans                  2143
Gujarat Lions                   1832
Lucknow Super Giants            1805
Punjab Kings                    1756
Rising Pune Supergiant           906
Rising Pune Supergiants          731
Kochi Tuskers Kerala             706
Name: count, dtype: int64

In [13]:
teams = ['Kolkata Knight Riders', 
         'Chennai Super Kings',
         'Punjab Kings', 
         'Rajasthan Royals',
         'Mumbai Indians',
         'Delhi Capitals',
         'Royal Challengers Bangalore',
         'Sunrisers Hyderabad',
         'Lucknow Super Giants',
         'Gujarat Titans'
         ]

In [14]:
second_innings['batting_team'] = second_innings['batting_team'].str.replace('Delhi Daredevils','Delhi Capitals')
second_innings['bowling_team'] = second_innings['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

second_innings['batting_team'] = second_innings['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['bowling_team'] = second_innings['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

second_innings['batting_team'] = second_innings['batting_team'].str.replace('Kings XI Punjab','Punjab Kings')
second_innings['bowling_team'] = second_innings['bowling_team'].str.replace('Kings XI Punjab','Punjab Kings')

In [15]:
second_innings['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad', 'Pune Warriors',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Gujarat Titans', 'Lucknow Super Giants'],
      dtype=object)

In [16]:
second_innings = second_innings[second_innings['batting_team'].isin(teams)]
second_innings = second_innings[second_innings['bowling_team'].isin(teams)]

In [17]:
second_innings['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad', 'Gujarat Titans',
       'Lucknow Super Giants'], dtype=object)

In [18]:
second_innings.shape

(104595, 20)

In [19]:
#finding current score with cumsum method
second_innings['current_Score'] = second_innings.groupby('match_id')['total_runs_y'].cumsum()

In [20]:
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_Score
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN,159
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,S Dube,1,0,1,NaN,0,NaN,NaN,NaN,160
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,RA Jadeja,1,0,1,NaN,0,NaN,NaN,NaN,161
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,S Dube,6,0,6,NaN,0,NaN,NaN,NaN,167
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,S Dube,4,0,4,NaN,0,NaN,NaN,NaN,171

In [21]:
#calculate runs left after each ball using target and currenct score
second_innings['runs_left'] = second_innings['total_runs_x'] - second_innings['current_Score']
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_Score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,1,1,wides,0,NaN,NaN,NaN,2,221
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,1,0,1,NaN,0,NaN,NaN,NaN,159,56
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,1,0,1,NaN,0,NaN,NaN,NaN,160,55
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,1,0,1,NaN,0,NaN,NaN,NaN,161,54
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,6,0,6,NaN,0,NaN,NaN,NaN,167,48
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,4,0,4,NaN,0,NaN,NaN,NaN,171,44

In [22]:
#calculating balls left after each ball 
second_innings['balls_left'] = 120 - (second_innings['over']*6 +second_innings['ball'])
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_Score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,222,119
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,221,118
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,221,117
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,220,116
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,0,1,NaN,0,NaN,NaN,NaN,159,56,34
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,0,1,NaN,0,NaN,NaN,NaN,160,55,33
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,0,1,NaN,0,NaN,NaN,NaN,161,54,32
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,0,6,NaN,0,NaN,NaN,NaN,167,48,31
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,0,4,NaN,0,NaN,NaN,NaN,171,44,30

In [23]:
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_Score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,222,119
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,221,118
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,221,117
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,220,116
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,0,1,NaN,0,NaN,NaN,NaN,159,56,34
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,0,1,NaN,0,NaN,NaN,NaN,160,55,33
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,0,1,NaN,0,NaN,NaN,NaN,161,54,32
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,0,6,NaN,0,NaN,NaN,NaN,167,48,31
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,0,4,NaN,0,NaN,NaN,NaN,171,44,30

Getting Wickets

In [24]:
#calculate the wickets left 
#filling nan values with 0 
second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna("0")

In [25]:
#filling where 0 is not there and there is a wicket with 1 
second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x:x if x=="0" else "1")

In [26]:
#converting the type to int
second_innings['player_dismissed'] = second_innings['player_dismissed'].astype('int')

In [27]:
# Perform cumulative sum operation
wickets = second_innings.groupby('match_id')['player_dismissed'].cumsum()


# Calculate wickets remaining
second_innings['wickets_remaining'] = 10 - wickets

In [28]:
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_Score,runs_left,balls_left,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,NaN,0,0,NaN,NaN,1,222,119,10
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,wides,0,0,NaN,NaN,2,221,118,10
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,0,0,NaN,NaN,2,221,117,10
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,NaN,0,0,NaN,NaN,3,220,116,10
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,NaN,0,0,NaN,NaN,4,219,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,1,NaN,0,0,NaN,NaN,159,56,34,5
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,1,NaN,0,0,NaN,NaN,160,55,33,5
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,1,NaN,0,0,NaN,NaN,161,54,32,5
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,6,NaN,0,0,NaN,NaN,167,48,31,5
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,4,NaN,0,0,NaN,NaN,171,44,30,5

Current Run Rate

In [29]:
second_innings['crr'] = round((second_innings['current_Score']*6)/(120 - second_innings['balls_left']),2)
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_Score,runs_left,balls_left,wickets_remaining,crr
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,NaN,0,0,NaN,NaN,1,222,119,10,6.00
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,wides,0,0,NaN,NaN,2,221,118,10,6.00
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,0,0,NaN,NaN,2,221,117,10,4.00
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,0,0,NaN,NaN,3,220,116,10,4.50
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,NaN,0,0,NaN,NaN,4,219,115,10,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,NaN,0,0,NaN,NaN,159,56,34,5,11.09
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,NaN,0,0,NaN,NaN,160,55,33,5,11.03
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,NaN,0,0,NaN,NaN,161,54,32,5,10.98
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,NaN,0,0,NaN,NaN,167,48,31,5,11.26
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,NaN,0,0,NaN,NaN,171,44,30,5,11.40

Required Run Rate

In [30]:
second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,0,NaN,NaN,1,222,119,10,6.00,11.19
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,0,NaN,NaN,2,221,118,10,6.00,11.24
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,NaN,2,221,117,10,4.00,11.33
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,0,NaN,NaN,3,220,116,10,4.50,11.38
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,0,NaN,NaN,4,219,115,10,4.80,11.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,0,0,NaN,NaN,159,56,34,5,11.09,9.88
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,0,0,NaN,NaN,160,55,33,5,11.03,10.00
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,0,0,NaN,NaN,161,54,32,5,10.98,10.12
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,0,0,NaN,NaN,167,48,31,5,11.26,9.29
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,0,0,NaN,NaN,171,44,30,5,11.40,8.80

Finding Winner

In [31]:
def winner(team):
    return 1 if team['batting_team'] == team['winner'] else 0

In [32]:
second_innings['results'] = second_innings.apply(winner,axis=1)
second_innings

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,player_dismissed,dismissal_kind,fielder,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr,results
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,NaN,NaN,1,222,119,10,6.00,11.19,0
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,NaN,NaN,2,221,118,10,6.00,11.24,0
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,NaN,2,221,117,10,4.00,11.33,0
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,NaN,NaN,3,220,116,10,4.50,11.38,0
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,NaN,NaN,4,219,115,10,4.80,11.43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,...,0,NaN,NaN,159,56,34,5,11.09,9.88,1
243813,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,...,0,NaN,NaN,160,55,33,5,11.03,10.00,1
243814,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,...,0,NaN,NaN,161,54,32,5,10.98,10.12,1
243815,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,...,0,NaN,NaN,167,48,31,5,11.26,9.29,1
243816,1370353,Ahmedabad,Chennai Super Kings,215,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,...,0,NaN,NaN,171,44,30,5,11.40,8.80,1

only taking required columns we need

In [33]:
required_data = second_innings[['batting_team','bowling_team','city','runs_left','balls_left','wickets_remaining','total_runs_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,119,10,223,6.00,11.19,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,118,10,223,6.00,11.24,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,117,10,223,4.00,11.33,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,116,10,223,4.50,11.38,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,115,10,223,4.80,11.43,0
...,...,...,...,...,...,...,...,...,...,...
243812,Chennai Super Kings,Gujarat Titans,Ahmedabad,56,34,5,215,11.09,9.88,1
243813,Chennai Super Kings,Gujarat Titans,Ahmedabad,55,33,5,215,11.03,10.00,1
243814,Chennai Super Kings,Gujarat Titans,Ahmedabad,54,32,5,215,10.98,10.12,1
243815,Chennai Super Kings,Gujarat Titans,Ahmedabad,48,31,5,215,11.26,9.29,1
243816,Chennai Super Kings,Gujarat Titans,Ahmedabad,44,30,5,215,11.40,8.80,1

Sampling Data

In [34]:
final_data = required_data.sample(required_data.shape[0])

Droping null values

In [35]:
final_data.dropna(inplace=True)

Removing rows where balls_left==0 to remove -inf and inf from rrr column

In [36]:
final_data = final_data[final_data['balls_left']!=0]

Storing data in new csv

In [37]:
final_data.to_csv("final_data.csv", index=False)

<font size="5">Building Model

In [38]:
from sklearn.model_selection import train_test_split as tts

In [39]:
x = final_data.iloc[:, :-1]
y = final_data.iloc[:, -1]

In [40]:
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.25, random_state=100)

In [44]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# Defining a transformer for one-hot encoding categorical features
trf = ColumnTransformer([
    ('trf', OneHotEncoder(drop='first', sparse_output=False), ['batting_team', 'bowling_team', 'city'])
],
remainder='passthrough')

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [46]:
# Creating a pipeline with column transformation and logistic regression
pipe = Pipeline([
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear'))
])

In [47]:
# Fitting the pipeline to the training data
pipe.fit(x_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [48]:
# Making predictions on the test data
y_pred = pipe.predict(x_test)

In [49]:
# Calculating the accuracy of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8145026668295264

In [50]:
# Predicting class probabilities for the first instance in the test set
pipe.predict_proba(x_test)[0]

array([0.58909948, 0.41090052])

In [51]:
# Saving the trained pipeline as a binary file
import pickle
pickle.dump(pipe, open('pipe.pkl', 'wb'))

In [52]:
final_data['city'].unique()

array(['Mumbai', 'Delhi', 'Chennai', 'Abu Dhabi', 'Visakhapatnam',
       'Hyderabad', 'Chandigarh', 'Ahmedabad', 'Bangalore', 'Jaipur',
       'Kolkata', 'Port Elizabeth', 'Cuttack', 'Navi Mumbai', 'Centurion',
       'Bengaluru', 'Pune', 'Johannesburg', 'Dubai', 'Cape Town',
       'Lucknow', 'Durban', 'Dharamsala', 'Indore', 'East London',
       'Sharjah', 'Guwahati', 'Raipur', 'Ranchi', 'Nagpur', 'Kimberley',
       'Bloemfontein'], dtype=object)